*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/*TITULO PRINCIPAL*/

.titulo1{
    padding: 4rem 10%;
    color: #fff;
    font-size: 55px;
    font-weight: bolder;
    font-family: 'Merriweather';

    display: flex;
    justify-content: center;
    text-align: center;

    background-image: url(../FrontEnd/img/conexion-titulo1.png);
    background-size: cover;
}

h2{
    margin: .5rem;
    padding: 1rem 3rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: left; 
    font-size: 35px;
    font-weight: bolder;
}